# Node.js
node_modules/

# macOS
.DS_Store

# Logs
*.log

# Environment variables
.env

# Miscellaneous
*.pid
*.seed
*.sublime-workspace
*.sublime-project
*.tmux*\n*.swp\n*.lock\n*.orig\n*.sqlite\n*.db\n*.tgz